
<img src="{{flags.svg}}" alt="{{name.official}}" width="30px">
    <h1 class="official-name">{{name.official}}</h1>
    <p><b>Capital:</b> {{capital}}</p>
    <p><b>Population:</b> {{population}}</p>
    {{#each languages}}
    <p><b>Languages:</b> {{this}}</p>
    {{/each}}